.left-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  background-color: rgb(0, 160, 0);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.left-panel-button {
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.right-panel {
  position: fixed;
  top: 0;
  right: 0;
  left: 80px;
  bottom: auto;
}

.hidden {
  display: none;
}



/* #region Broad Container Pages*/
.rp-welcome-page {
  margin-top: 200px;
  text-align: center;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.rp-skills-page, .rp-tricks-page {
  font-family: Arial, Helvetica, sans-serif;

  .rp-skills-title, .rp-tricks-title {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    
  }

  .rp-skills-buttons, .rp-tricks-buttons {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    padding-bottom: 20px;

    .rp-skills-buttons-style, .rp-tricks-buttons-style {
      width: 180px;
      height: 40px;
      border-width: 0;
      border-radius: 20px;
      background-color: rgb(143, 232, 143);
      cursor: pointer;

      margin: 10px;
    }

    .rp-skills-buttons-style:hover, .rp-tricks-buttons-style:hover {
      filter: brightness(95%);
    }
  }
}
/* #endregion */

/* #region Skills Individual Pages */
.skills-fractionSimpl {
  text-align: center;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;

  .fractionSimpl-generator-container {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .fractionSimpl-search-bar {
    display: inline;
  }
}
/* #endregion */

/* #region Tricks Individual Pages */
.tricks-cubicRootABC {
  text-align: center;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;

  .cubicRootABC.generator-container {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  .cubicRootABC-search-bar {
    display: inline;
  }
}
/* #endregion */

